

{% extends 'blog/base.html' %}
{% comment %} Tiene que ser el primer tag  antes de los comentarios y todo {% endcomment %}
{% comment %} Vamos a extender el extender la plantilla ahora {% endcomment %}


{% block content %}


    <div class='post'>
        {% if post.published_date %}

        <div class="date">
            <p>Publicado : {{ post.published_date }}</p>
        </div>
        
        {% endif %}

        {% comment %} <h2> <a href="">{{ post.title }}</a></h2> {% endcomment %}
        {% comment %} Creamos el enlace para la pagina {% endcomment %}
            <h2> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

        <p>{{ post.text | linebreaks}}</p>
    </div>



{% endblock %}
